<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>VET APP</title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">VET APP</a>
            <div class="navbar-menu">
            </div>
        </div>
    </nav>
</div>
</body>
</html>